<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mugpet.dao.mybatis.mapper.ItemMapper">
	<cache />
	<sql id="itemCols">
		item_id, category_id, spe_id,
		itemName, price, brand,
		imageUrl, comments
	</sql>
	
	<select id="getItem" parameterType="int" resultType="Item">
		SELECT <include refid="itemCols" />
		FROM Item
		WHERE item_id=#{item_id}
	</select>
	
	<select id="getALLItemList" parameterType="int" resultType="Item">
		SELECT <include refid="itemCols" />
		FROM Item
		WHERE spe_id=#{spe_id}
	</select>
	
	<select id="getItemList" parameterType="int" resultType="Item">
		SELECT <include refid="itemCols" />
		FROM Item
		WHERE spe_id=#{spe_id} AND category_id=#{category_id}
	</select>
	
	<select id="getSearchItemList" parameterType="int" resultType="Item">
		SELECT <include refid="itemCols" />
		FROM Item
		WHERE spe_id=#{spe_id} AND filter=#{filter}
	</select>
	
	<select id="orderByItem" resultType="Item">
		SELECT <include refid="itemCols" />
		FROM Item
		WHERE spe_id=${spe_id}
		ORDER BY ${stand} ${od}
	</select>
	
	<insert id="insertItem">
		INSERT INTO Item (<include refid="itemCols" />)
		VALUES (#{item_id}, #{category_id}, #{spe_id}, #{itemName}, #{price}, #{brand}, #{imageUrl})
	</insert>
	
	<update id="updateItem">
		UPDATE Item
		SET category_id=#{category_id},
		spe_id=#{spe_id}
		itemName=#{ItemName},
		price=#{price},
		brand=#{brand},
		imageUrl=#{imageUrl},
		comments=#{comments},
		WHERE item_id=#{item_id}
	</update>
		
	<delete id="deleteItem">
		DELETE FROM Item
		WHERE item_id=#{item_id}
	</delete>
</mapper>