<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mugpet.dao.mybatis.mapper.UsedGoodsMapper">
	<sql id="usedGoodsCols">
		g_id, imageUrl,
		title, content,
		enrollDt, price,
		likes, replyCnt,
		u_id
	</sql>
	
	<!-- UsedGoods 상세보기 -->
	<select id="getUsedGoods" resultType="UsedGoods">
		SELECT <include refid="usedGoodsCols" />
		FROM UsedGoods
		WHERE ㅎ_id=#{ㅎ_id}
	</select>
	
	<!-- UsedGoods 목록 -->
	<select id="getUsedGoodsList" resultType="UsedGoods">
		SELECT <include refid="usedGoodsCols" />
		FROM UsedGoods
	</select>
	
	<!-- Member의 UsedGoods 작성 목록 -->
	<select id="getMemberUsedGoodsList" resultType="UsedGoods">
		SELECT <include refid="usedGoodsCols" />
		FROM UsedGoods
		WHERE u_id=#{u_id}
	</select>
	
	<!-- UsedGoods 작성 -> sequence, default 값에 따라 selectKey, SYSDATE 사용
		-> parameterType을 Command로 바꿔야 하나? -->
	<insert id="insertUsedGoods" parameterType="UsedGoods">
		INSERT INTO UsedGoods (<include refid="usedGoodsCols" />)
		VALUES (#{g_id}, #{imageUrl}, #{title}, #{content}, SYSDATE, #{price}, #{likes}, #{replyCnt}, #{u_id})
		<selectKey resultType="int" keyProperty="g_id" order="BEFORE">
			SELECT SEQ_UsedGoods_g_id FROM DUAL
		</selectKey>
	</insert>
	
	<!-- UsedGoods 수정 -> UI상에서 세션 아이디 확인해 본인만 수정/삭제 버튼을 띄운다면 g_id만 비교해도 됨 -->
	<update id="updateUsedGoods" parameterType="UsedGoods">
		UPDATE UsedGoods
		SET imageUrl=#{imageUrl},
		title=#{title},
		content=#{content},
		enrollDt=SYSDATE,
		price=#{price},
		likes=#{likes},
		replyCnt=#{replyCnt},
		u_id=#{u_id}
		WHERE g_id=#{g_id}
	</update>
	
	<!-- UsedGoods 삭제 -> UI상에서 세션 아이디 확인해 본인만 수정/삭제 버튼을 띄운다면 g_id만 비교해도 됨 -->
	<delete id="deleteUsedGoods" parameterType="int">
		DELETE FROM UsedGoods
		WHERE #{g_id}=g_id
	</delete>
</mapper>